<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color:slateblue">
            This page belongs to kerala html page
        </h1>
        <a href="{% url 'something:chennai' %}">Go to chennai page</a>
        <a href="{% url 'something:delhi' %}">Go to delhi page</a>
        <a href="{% url 'tirupati' %}">Go to tirupati page</a>
        <h1 style="color:pink">kerala is the most beautiful place in our country</h1>
    </center>
</body>
</html>